{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>图书管理系统-联系方式</title>
{% include 'link_css.html' %}
</head>

    <body>
        <!-- Header gallery -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <section class="tm-header-gallery">
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            <a href="{% static 'img/img-21-04.jpg' %}">
                                <img src="{% static 'img/img-21-04.jpg' %}" alt="Image" class="img-fluid tm-header-img">
                            </a>                         
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            
                            <div class="tm-site-name">
                                <img src="{% static 'img/sxtlogo.jpg' %}" alt="" style="width: auto;height: auto">
                            </div>
                            
                            <img src="{% static 'img/logo-bg.jpg' %}" alt="Image" class="img-fluid tm-header-img">
                        </div>
                                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            <a href="{% static 'img/img-21-02.jpg' %}">
                                <img src="{% static 'img/img-21-02.jpg' %}" alt="Image" class="img-fluid tm-header-img">
                            </a>                       
                        </div>                
                        
                    </section>
                </div>
            </div>                
            
            <!-- Navigation -->
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar">
                        <div id="tmNavbar">
                            <div class="nav navbar-nav tm-nav">
                                
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                                    <div class="nav-item">
                                        <a class="nav-link" href="/index/">主页</a>
                                    </div>
                                    <div class="nav-item">
                                        <a class="nav-link" href="/person/">个人</a>
                                    </div>    
                                </div>
                                
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item">
                                        <a class="nav-link" href="/borrow/">借阅</a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item">
                                        <a class="nav-link" href="/allbook/">全部书籍</a>
                                    </div>    
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item active">
                                        <a class="nav-link" href="/contact/">联络</a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item tm-dummy-nav-item">
                                        <div class="nav-link">&nbsp;</div>
                                    </div>
                                </div>                            
                                
                            </div>    
                        </div>                    
                    </nav>     
                </div>
                   
            </div> <!-- row -->

            <div class="row tm-contact-form-row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-contact-form-col-left">
                    <h2 class="tm-contact-form-title">联系我们</h2>
                    <form action="contact.html" method="post" class="tm-contact-form">
                    
                        <div class="form-group">
                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name"  required/>
                        </div>
                        <div class="form-group">
                            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email"  required/>
                        </div>
                        <div class="form-group">
                            <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="Subject"  required/>
                        </div>    
                        
                        <div class="form-group">
                            <textarea id="contact_message" name="contact_message" class="form-control" rows="6" placeholder="Message" required></textarea>
                        </div>    
                        
                        <div class="form-group">
                            <a href="mailto:zanqwudi@qq.com"><button type="submit" class="pull-xs-right tm-submit-btn">提交</button></a>
                        </div>
                        
                    </form>  
                </div>

                <!-- Google Map -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h2 class="tm-contact-form-title">位置</h2>

                </div>
                <iframe src="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d763.4355807200334!2d116.33539782922479!3d40.058850998713034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f055f8081dd8fb%3A0xf7e5560224a895b7!2z5Lit6IW-5bu65Y2O5ZWG5Yqh5aSn5Y6m!5e0!3m2!1szh-CN!2scn!4v1536983870020" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="tm-search-form-container tm-blue-bg">
                    
                        <form class="form-inline tm-search-form" method="get" action="http://www.baidu.com/s">
                          <div class="form-group tm-form-group-search">
                            <input type="text" name="w" class="form-control tm-search-input"  placeholder="搜索内容">
                          </div>
                          <button type="submit" class="btn tm-search-btn">搜索</button>
                        </form>
                    </div>                    
                </div>
            </div> <!-- row -->

            <div class="row tm-faq-row">
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    
                    <div class="tm-about-box">
                        
                       
                    </div>
                    
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    
                    <div class="tm-about-box">
                        <h2 class="tm-about-title">&nbsp;</h2>
                      
                    </div>
                    
                </div>

            </div>

            <div class="row tm-nav-2-row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <nav class="tm-flex-center">
                        <ul class="tm-nav-2">
                            <li class="tm-nav-item-2"><a href="index.html" class="tm-nav-link-2">Home</a></li>
                            <li class="tm-nav-item-2"><a href="person.html" class="tm-nav-link-2">Person</a></li>
                            <li class="tm-nav-item-2"><a href="borrow.html" class="tm-nav-link-2">Borrow</a></li>
                            <li class="tm-nav-item-2"><a href="allbook.html" class="tm-nav-link-2">AllBook</a></li>
                            <li class="tm-nav-item-2"><a href="contact.html" class="tm-nav-link-2">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div> <!-- row -->

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="tm-social-icons-container text-xs-center">
                          <a href="https://www.facebook.com/" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                        <a href="http://googleplussearch.chromefans.org/" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
                        <a href="https://twitter.com/" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.behance.net/" class="tm-social-link"><i class="fa fa-behance"></i></a>
                        <a href="https://www.linkedin.com/" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <footer class="row tm-footer">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p class="text-xs-center tm-copyright">Copyright &copy; SXT Your Company
                    
                    | Design: <a href="http://www.lntu.edu.cn/" target="_parent">北京尚学堂</a></p>
                </div>
            </footer>
            
        </div> <!-- container-fluid -->
      {% include 'script.html' %}
       <script>
            $(window).load(function(){

                /* Gallery pop up
                -----------------------------------------*/
                $('.tm-header-gallery').magnificPopup({
                    delegate: 'a', // child items selector, by clicking on it popup will open
                    type: 'image',
                    gallery:{enabled:true}                
                });
                           
            });

            /* Google map
            ------------------------------------------------*/
            var map = '';
            var center;

            function initialize() {
                var mapOptions = {
                    zoom: 16,
                    center: new google.maps.LatLng(37.769725, -122.462154),
                    scrollwheel: false
                };
            
                map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                google.maps.event.addDomListener(map, 'idle', function() {
                  calculateCenter();
                });
            
                google.maps.event.addDomListener(window, 'resize', function() {
                  map.setCenter(center);
                });
            }

            function calculateCenter() {
                center = map.getCenter();
            }

            function loadGoogleMap(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
                document.body.appendChild(script);
            }
        
            // DOM is ready
            $(function() {                
                loadGoogleMap(); // Google Map
            });

        </script>             

</body>
</html>
